$clr-primary-oderate-violet: hsl(263, 55%, 52%);
$clr-primar-Very-dark-grayish-blue: hsl(217, 19%, 35%);
$clr-primar-Very-dark-blackish-blue: hsl(219, 29%, 14%);
$clr-primary-white: hsl(0, 0%, 100%);

$clr-neutral-light-gray:hsl(0, 0%, 81%);
$clr-neutral-light-grayish-blue: hsl(210, 46%, 95%);


$ff-s: "Barlow Semi Condensed", sans-serif;

$fw-bold:600;
$fw-normal:500;

$fs-500:0.8125rem;
$fs-700:1rem;